
<mat-toolbar>
        <span>Dashboard</span>
        <span class="spacer"></span>
        <span class="hello">Hello, {{currentEmail}}</span>
        <button class="exit" (click) = "logout()"  matTooltip="Logout" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>exit_to_app</mat-icon>
        </button>               
     
</mat-toolbar>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<router-outlet></router-outlet>