.mat-toolbar{
    background-color: #9fc8e3;
    height: 50px;
    color: whitesmoke;
 }

 .spacer {
    flex: 1 1 auto;
  }

  .exit{
    color:  #1177bb;
    background-color: white;
  }

  .hello{
    margin-right: 15px;
    font-weight: 400;
    font-size: small;
  }